:root {
    --bg-color: darkslateblue;
}

* {
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 400;
    color: white;
}

body {
    /* background-color: #32CD32; */
    /* background-color: #D3E8D3; */
    /* background-color: powderblue; */
    background-color: var(--bg-color);
    overflow-y: hidden;
}

h1 {
    color: #fbeb90;
    font-family: "IM Fell DW Pica SC", serif;
    text-align: center;
    z-index: 998;
    font-size: 4rem;
    width: 80%;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

p, label {
    font-size: 1rem;
}

image {
    object-fit: cover;
}

button {
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--bg-color);
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

button:hover {
    box-shadow: 0px 0px 6px white;
}


input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: var(--bg-color);
    border-radius: 10px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: var(--bg-color);
    border-radius: 10px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 10px;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px white;
  }
  
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 10px;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px white;
  }


/* .controls-sub-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

.controls-sub-container .checkmark {
    height: 25px;
    width: 25px;
    color: white;
} */

/* .controls-sub-container .checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */

  /* Hide the browser's default checkbox */
.controls-sub-container input .checkmark {
    height: 20px;
    width: 20px;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    height: 20px;
    width: 20px;
  }

  .subhed {
    z-index: 997;
  }

.progress-bar-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.progress-bar {
    width: 20%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.main-container, .title-and-hed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.title-and-hed-container {
    margin-top: -1%;
}

 #controls-container, #click-to-continue-container, #explanation-text-lite, #loading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    opacity: 0;
}

#controls-container {
    position: absolute;
    bottom: 2%;
}

#click-to-continue-container {
    position: absolute;
    height: 100%;
    justify-content: top;
    align-items: top;
    z-index: 900;
    background-color: var(--bg-color);
}

.controls-sub-container-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.controls-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}

#explanation-text-lite {
    color: lightgray;
}

#three-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

#what-is-this-button {
    animation-duration: 3s;
    animation-name: bouncy;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

.info-container {
    display: flex;
    position: absolute;
    top: 3rem;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100vh);
}

.info-text {
    width: 90%
}

.images-container {
    width: 90%; 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 1rem;
}

.organ-image {
    width: 49%;
    border-radius: 5px;
}


@keyframes bouncy {
    from {
      scale: 1;
    }
  
    to {
      scale: 1.05;
    }
  }

  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    h2 {
        font-size: 1rem;
    }
    .organ-image {
        width: 100%;
        margin-top: 2%;
    }
    .images-container {
        width: 90%; 
        display: flex; 
        flex-direction: column;
        margin-bottom: 1rem;
    }
  }