* {
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 400;
    color: white;
}

body {
    background-color: #39414B;
    overflow-y: hidden;
}

h1 {
    color: rgb(251, 235, 144);
    font-family: "IM Fell DW Pica SC", serif;
    text-align: center;
    z-index: 998;
    font-size: 4rem;
    width: 80%;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

p, label {
    font-size: 1.1rem;
    font-weight: bolder;
}

/* .controls-sub-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

.controls-sub-container .checkmark {
    height: 25px;
    width: 25px;
    color: white;
} */

/* .controls-sub-container .checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */

  .subhed {
    z-index: 997;
  }

.progress-bar-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
}

.progress-bar {
    width: 20%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.chord-one {
    background-color: #160095;
}

.chord-two {
    background-color: #0036AB;
}

.chord-three {
    background-color: #5847BB;
}

.chord-four {
    background-color: #7B70BA;
}

.chord-five {
    background-color: #B2A7F2;
}

.chord-six {
    background-color: #CAC2F3;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 35%;
    transition: all 0.5s ease-in-out;
}

 #controls-container, #click-to-continue-container, #explanation-text-lite, #loading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    opacity: 0;
}

#click-to-continue-container {
    position: absolute;
    height: 30%;
    justify-content: top;
    align-items: top;
    background-color: black;
}

.controls-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#explanation-text-lite {
    color: lightgray;
}

#three-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}