:root {
    --transition-time: 0.5s;
  }
  

* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

#click-to-continue-container, #controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all var(--transition-time) ease-in-out;
}

#click-to-continue-container {
    position: absolute;
    height: 30%;
    background-color: black;
}